<!doctype html>
<html ng-app="MyApp">
  <head>
    <title>Angular Exmaple - Angular Overview</title>

    <link rel="stylesheet" href="../../vendor/bootstrap/docs/assets/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../../vendor/bootstrap/docs/assets/css/bootstrap-responsive.css"> -->
    <link rel="stylesheet" href="../../vendor/google-code-prettify/src/prettify.css">
    <link rel="stylesheet" href="./css/main.css">
    
  </head>
  <body onload="prettyPrint()">
    <div class="marketing">
      <h2>Application Template</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <h2>Template</h2>
          <div ng-include="'partials/template.tpl.html'">
          </div>
          <h2>Directives</h2>
          <div calculator></div>
          <h2>Model</h2>
          <div ng-controller="ExampleCtrl">
            <p>{{name}}</p>
            <p>{{age}}</p>
            <input type="text" ng-model="phone"/>
          </div>
          <h2>Scope</h2>
          <div ng-controller="ExampleCtrl">
            <input type="text" ng-model="phone"/>
            <p>{{phone}}</p>
          </div>
          <h2>Expressions</h2>
          <div ng-controller="ExampleCtrl">
            <p>{{1+2}}</p>
            <p>{{2*3}}</p>
            <button class="btn" ng-click="sayHello()">Alert</button>
          </div>
          <h2>Compiler</h2>
          <div>
          </div>
          <h2>Filter</h2>
          <div ng-controller="ExampleCtrl">
            {{timestap | date:'yyyy-MM-dd HH:mm:ss Z'}}
          </div>
          <h2>Data Binding</h2>
          <input type="text" ng-model="name"/>
          <p>{{'Hello, '+name}}</p>
          
          <h2>Controller</h2>
          <div ng-controller="PersonCtrl">
            <form name="personFrom" novalidate>
              <label>Name:</label>
              <input type="text" ng-model="person.name" required/>
              <label>Age</label>
              <input type="number" ng-model="person.age" required/>
              <label>Address</label>
              <input type="text" ng-model="person.address" required/>
              <div>
                <button type="button" class="btn" ng-disabled="personFrom.$invalid" ng-click="send()">Send</button>
                <button type="button" class="btn" ng-click="person={};beSend=false;">Reset</button>
              </div>
            </form>
            <div ng-show="person.name&&beSend">
              <pre>{{person | json}}
              </pre>
            </div>
          </div>

          <h2>Service</h2>
        </div>
      </div>
    </div>
  
    <script src="../../vendor/angular/angular.js"></script>
    <script src="../../vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../../vendor/jquery/jquery.js"></script>
    <script src="../../vendor/bootstrap/docs/assets/js/bootstrap.js"></script>
    <script src="../../vendor/google-code-prettify/src/prettify.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>