<!doctype html>
<html ng-app="myApp">
  <head>
    <title>AngularJS Exmaple - Directive</title>

    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-responsive.css">
    
  </head>
  <body ng-controller="MyCtrl">
    
    <div>
      Hello <input ng-model="name"><hr/>
      &lt;span ng:bind="name"&gt;<span ng:bind="name"></span><br/>
      &lt;span ng-bind="name"&gt;<span ng-bind="name"></span><br/>
      &lt;span ng_bind="name"&gt;<span ng_bind="name"></span><br/>
      &lt;span x-ng-bind="name"&gt;<span x-ng-bind="name"></span><br/>
      &lt;span data-ng-bind="name"&gt;<span data-ng-bind="name"></span><br/>
    </div>
    <hr/>
    <div>
      Date format: <input ng-model="format"><hr/>
      Current time is: <span current-time="format" ng-bind="currentTime"></span>
    </div>

    <hr/>
    <h4>Parent Scope of directive scope</h4>
    <ol>
      <li>
        <strong>@ or @attr</strong><br/>
        <input ng-model="name1">
      </li>
      <li>
        <strong>= or =attr</strong><br/>
        <input ng-model="name2">
      </li>
      <li>
        <strong>& or &attr</strong><br/>
        <input ng-model="name3">
      </li>
    </ol>folder
    <div>
      <h4>Directive Scope</h4>
      <ol>
        <li>
          <strong>@ or @attr</strong><br/>
          <input my-passed-time="{{name1}}" type="input" ng-model="passedTime">
          <small>Parent scope will effect directive scope, but directive scope doesn't effect parent scope</small>
        </li>
        <li>
          <strong>= or =attr</strong><br/>
          <input my-current-time="name2" type="input" ng-model="currentTime">
          <small>bi-directional</small>
        </li>
        <li>
          <strong>& or &attr</strong><br/>
          <input my-future-time="name3 = name3 + ' end';" type="input" ng-model="futureTime">
        </li>
      </ol>
    </div>

    <hr/>
    <div>
      <button ng-click="show=true">show</button>
      <dialog title="Hello {{name}}" visible="show" on-cancel="show=false;" on-ok="show=false;">
        Body goes here: {{name}} is {{title}}
      </dialog>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script>
      window.jquery || document.write('<script src="vendor/jquery/jquery-1.10.2.js"><\/script>');
      window.angular || document.write('<script src="vendor/angularjs/angular.js"><\/script>');
    </script>
    <script src="./vendor/bootstrap/js/bootstrap.js"></script>
    <script src="./js/directive.js"></script>
  </body>
</html>