<!doctype html>
<html ng-app="MyApp">
  <head>
    <title>AngularJS Library - Combination Filter</title>

    <link rel="stylesheet" href="../../vendor/bootstrap/docs/assets/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../../vendor/bootstrap/docs/assets/css/bootstrap-responsive.css"> -->
    <link rel="stylesheet" href="../../vendor/google-code-prettify/src/prettify.css">
    <link rel="stylesheet" href="./css/main.css">
    
  </head>
  <body onload="prettyPrint()">
    <div class="marketing">
      <h2>Combination Filter</h2>
    </div>

    <hr/>

    <div class="container">
      <div class="row">
        <div class="span12">
          <div ng-controller="MyCtrl">
<!--             <textarea ng-model="text" style="width:100%;height:60px;"> </textarea>
            <br/>
            <button class="btn" ng-click="parse()">Parse</button> -->
            <label>Query Name</label>
            <input type="text" ng-model="query"/>
            <br/>
            <label>Query status</label>
            <input type="text" ng-model="from" placeholder="from"/>
            <input type="text" ng-model="end" placeholder="end"/>
            <br/>
            <label>Query description</label>
            <input type="text" ng-model="description"/>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Desciption</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in members | combinationFilter:this:'{name:query}&&(({status.state:status.state>=from}&&{status.state:status.state<=end})||{description:description})'">
                  <td>{{member.name}}</td>
                  <td>{{member.description}}</td>
                  <td>{{member.status.state}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <script src="../../vendor/angular/angular.js"></script>
    <script src="../../vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../../vendor/jquery/jquery.js"></script>
    <script src="../../vendor/bootstrap/docs/assets/js/bootstrap.js"></script>
    <script src="../../vendor/google-code-prettify/src/prettify.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>